[masters]
{% for name in groups['masters'] %}
{{ name }} ansible_host={{ hostvars[name]['ansible_host'] }}
{% endfor %}

[workers]
{% for name in groups['workers'] %}
{{ name }} ansible_host={{ hostvars[name]['ansible_host'] }}
{% endfor %}

[{{ cluster_name }}:children]
masters
workers

[{{ cluster_name }}:vars]
ansible_ssh_user=root
ansible_python_interpreter=/usr/bin/python
