export HADOOP_HOME={{spark_install_dir}}/hadoop
export HADOOP_CONF_DIR=/etc/hadoop/conf
export PATH=$PATH:$HADOOP_HOME/bin
{% if hadoop_env_vars is defined %}
{% for key, value in hadoop_env_vars.iteritems() %}
export {{key}}={{value}}
{% endfor %}
{% endif %}
