[Unit]
Description=Hadoop DFS (HDFS)
Wants=syslog.target network.target network-online.target
After=syslog.target network.target network-online.target
Requires=network-online.target

[Service]
Type=forking
User={{ hadoop_user }}
WorkingDirectory={{ hadoop_home_dir }}
ExecStart={{ hadoop_home_dir }}/sbin/start-dfs.sh
ExecStop={{ hadoop_home_dir }}/sbin/stop-dfs.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
