export JAVA_HOME=/usr/lib/jvm/java-{{ java_version }}-openjdk-amd64/
export HADOOP_HOME={{hadoop_home_dir}}
export HADOOP_CONF_DIR=/etc/hadoop/conf
export LD_LIBRARY_PATH=$HADOOP_HOME/lib/native/:$LD_LIBRARY_PATH
export PATH=$PATH:$HADOOP_HOME/bin
