[Unit]
Description=Hadoop YARN
Wants=syslog.target network.target network-online.target
After=syslog.target network.target network-online.target
Requires=network-online.target

[Service]
Type=forking
User={{ hadoop_user }}
WorkingDirectory={{ hadoop_home_dir }}
ExecStart={{ hadoop_home_dir }}/sbin/start-yarn.sh
ExecStop={{ hadoop_home_dir }}/sbin/stop-yarn.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
