<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<!-- Put site-specific property overrides in this file. -->

<configuration>
  <property>
    <name>fs.defaultFS</name>
    <value>hdfs://{{ cluster_prefix }}-{{ cluster_name }}-master:9000</value>
  </property>

  <property>
    <name>fs.default.name</name>
    <value>hdfs://{{ cluster_prefix }}-{{ cluster_name }}-master:54310</value>
  </property>

  <property>
  <name>hadoop.tmp.dir</name>
    <value>/var/tmp/hadoop</value>
  </property>
</configuration>
